@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* .con1{
  color: black;
  background-color: red;
  margin: 20px;
  padding:20px;
}
.con3{
  
}
.con2{
  margin-top: 30px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Fredoka", sans-serif !important;

  background:#013a63 !important;
}
.cardcolor{
  background:linear-gradient(135deg, #01497c, #026aa7, #49a1d4)!important; /* Default background color */
  padding: 15px;
  border-radius: 8px;
  margin: 20px;
  margin-bottom: 25px;
  color:white !important;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-family:"Fredoka", sans-serif !important;
  font-size: 18px;
  /* font-weight:400; */
  /* position: sticky!important; */
  /* top: 2px!important; */
  /* z-index: 100!important;  */
}
.cardcolor:hover{
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);  /* Background color on hover */
  transform: scale(1.02); /* Slightly scale the card */
}


  .but1{
    height: 6vh;
    width:20vh;
    margin-top: 1vh;
  }
  .but1:hover{
    background-color: blue;
    color:red;
  }
.centre_column{
  background-color: green;
}
/* @media only screen and (max-width:575.78px) {

  
  .centre_column{
    background-color: aquamarine;
  }


} */
 .quest{
  height: 20vh;
  width:50px;
  border:solid;
  border-radius: 10;
 }
 .quest::placeholder {
  padding-top: 0; /* Ensure the placeholder has no additional padding */
  transform: translateY(-50%); /* Move the placeholder up slightly */
}

.barct {
  margin:10px 0;
  padding: 5px;
  background-color: #013a63;
  border:none!important;
  border-radius: 5px;
  border: 1px solid #ddd;

}

.bar {
  position: relative;
  height: 30px;
  background-color: #014f86;
  border-radius: 10px!important;
  transition: 0.5 !important;
}

.filledbar {
  height: 100%;
  background-color:#55a630;
  transition: width 1s ease!important; 
}

.percentage-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: bold;
}
.cardstyle {
  margin-bottom: 16px;
  padding: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border:solid!important;
  border-radius: 10px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  background: linear-gradient(to right, grey, red);
  width:100%;
  
}


.cardstyle:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
       
.Trendpollstyle{
  font-family:"Fredoka", sans-serif !important;
  font-size: 25px;
   color: white;
}

.Commentcard{
  width:280px;
  height:2%;
}
.votein{
  color:white!important;
  background-color: #014f86;
  border: none;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.votein:hover{
  background: #206fa3;
}

.voteless{
  color:white!important;
  background-color: #014f86;
  border: none;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.voteless:hover{
  background: #206fa3;
}
.imageupload{
   height:90px;
   width:90px;
   border-radius: 0px;
}
.imageupload1{
  width:110px;
  height: 90px; 

}



@media (min-width: 320px) {
  .navinxs {
     
   display: none;
  }
}
@media (max-width: 320px) {
  .cardcolor {
     
   margin-top: 15%!important;
  }
}
.maincommentcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.polllistbut{
  color:white !important;
}
.polllistbut:hover{
    background: lightblue!important;
}
.pollingmain{
  color:white !important;
  font-weight: 0 !important;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 8px; /* Equivalent to w-2 in Tailwind */
}

*::-webkit-scrollbar-thumb {
  background-color: #8d8b8b; /* Replace with actual secondary-dark color */
  border-radius: 9999px; /* Equivalent to rounded-full in Tailwind */
}

.category-button{
  background-color: #014f86; /* Button background color */
  color: white; /* Text color */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; /* Padding inside the button */
  border: none; /* No border */
  border-radius: 30px; /* Rounded border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */ /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  margin-top: 5px;
}
.dates {
  font-style: italic;
  font-size: small;
}

.navstyle{
  padding: 10px !important;
  background: #01497c !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
}

.searchstyle{
  background:#013a63!important;
  border: none !important;
  color: rgb(224, 202, 202) !important;

}
.searchstyle::placeholder{
  color: rgb(224, 202, 202) !important;
}

.inputinaddpoll{
  background:#013a63!important;
  border:white!important;
  color: rgb(224, 202, 202) !important;
}
.inputinaddpoll::placeholder{
  color: rgb(180, 176, 176)!important;
}
.sidenavstyle{
  background: #01497c!important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.cardintrend{
  color:white!important;
  background: linear-gradient(135deg, #012a4a, #045074, #067a9f);
  font-weight: 0!important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 30px !important;
}

.categoryshow{
background: #012a4a;
color: rgb(248, 233, 233);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px; /* Padding inside the button */
border: none; /* No border */
border-radius: 30px; /* Rounded border */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.categoryshow:hover{
  
  background: #013a63 !important;
}
.logbut{
  background: #a4133c;
  color: rgb(248, 233, 233);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px; /* Padding inside the button */
border: none; /* No border */
border-radius: 30px; /* Rounded border */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.logbut:hover{
  background: #c9184a;
}

.form-comp{
  background:linear-gradient(135deg, #01497c, #026aa7, #49a1d4)!important; /* Default background color */
  margin: 20px !important;
  margin-top: 50px !important;
}

.inputforsign {
  background: #013a63 !important;
  border: none !important;
  color: rgb(224, 202, 202) !important;
  width: 85% !important;
}

.inputforsign:hover {
  /* background-color: #AEAEAE!important; */
  /* background-color: lightgray !important; */
  transition: 0.5s;
}
.inputforsign::placeholder{
  color: rgb(224, 202, 202) !important;
}
.Commentcard{
  background-color: transparent!important;
  border: none !important;
}
.paracont{
  color: white !important;;
}